{{ define "base" }}
<!doctype html>
<html>

<head>
    <link rel="icon" href="https://avatars.githubusercontent.com/u/69230350?v=4">
    <title>Hacker theme (thelearn-tech)</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script
        src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?autoload=true&amp;skin=sunburst&amp;lang=css"
        defer=""></script>
    <!-- Version 1.0.1-->
</head>

<body>
    <div class="container">
        <!-- heading 1 -->
        <h1 class="bold topp left"> $ ./Andy-Dev</h1>
        <!-- gray text --->
        <l class="gray left">Andrew Auxilio - Dev Notes</l>
        <!-- horizontal rule-->
        <hr class="hr">
        <div class="main_content">
            {{template "content" .}}
        </div>
    </div>
    <!-- footer -->
    <footer class="w3-center w3-black w3-padding-64">
        <button onclick="topFunction()" class="w3-button w3-light-grey" title="Go to top"><i
                class="fa fa-arrow-up w3-margin-right w3-light-grey"></i>To Top</button>
        <div class="w3-xlarge w3-section">

            <!-- small logo with redirecting link -->
            <a href="https://twitter.com/thelearn_tech/" <i class="fa fa-twitter w3-hover-opacity"></a>
            <a href="https://instagram.com/thelearn_tech/" <i class="fa fa-instagram w3-hover-opacity"></a>
            <a href="https://github.com/thelearn-tech/" <i class="fa fa-github w3-hover-opacity"></a>

        </div>
    </footer>

    <script> // js for scroll to TOP
        function topFunction() {
            document.body.scrollTop = 0; // For Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera

        }
    </script>
</body>

</html>
{{ end }}